@using System.Collections.Generic
@using System.Web
@using Kres.Models.EntityLayer
@using Kres.Models.Helper
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@*@{ FooterInformation FooterInformationItem = (FooterInformation)HttpContext.Current.Session["FooterInformationItem"]; } @FooterInformationItem.Title*@</title>
    <link href="/Scripts/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/login.css" rel="stylesheet" />

    <!-- iziToast -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js" integrity="sha512-OmBbzhZ6lgh87tQFDVBHtwfi6MS9raGmNvUNTjDIBb/cgv707v9OuBVpsN6tVVTLOehRFns+o14Nd0/If0lE/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="todo.js"></script>
    <title>Login V18</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/loginmain.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Scripts/angular.js" rel="stylesheet">
    <link href="~/Scripts/angular-mocks.js" rel="stylesheet">
    <link href="~/Scripts/angular-sanitize.js" rel="stylesheet">
    <link href="~/Scripts/angular-resource.min.js" rel="stylesheet">
    <link href="~/Scripts/jquery.unobtrusive-ajax.js" rel="stylesheet">
    <link href="~/Scripts/jquery.unobtrusive-ajax.min.js" rel="stylesheet">
    <link href="~/Scripts/jquery.validate-vsdoc.js" rel="stylesheet">
    <link href="~/Scripts/jquery.validate.js" rel="stylesheet">
    <link href="~/Scripts/jquery.validate.min.js" rel="stylesheet">
</head>
<body style="background-color: #666666;" ng-app="LoginApp" ng-cloak>
    <section ng-controller="LoginController">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <div class="login-logo-img">
                            <img src="~/images/logo.png" />
                        </div>
                        <span class="login100-form-title p-b-43">
                            Mum Software Hoşgeldiniz
                        </span>


                        <div class="wrap-input100 validate-input">
                            <input class="input100 login__input" type="text" id="usercode">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Kullanıcı Adı</span>
                        </div>


                        <div class="wrap-input100 validate-input">
                            <input class="input100 login__input" type="password" name="pass" id="password">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Şifre</span>
                        </div>

                        <div class="flex-sb-m w-full p-t-3 p-b-32">
                            <div class="contact100-form-checkbox">
                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                <label class="label-checkbox100" for="ckb1">
                                    Beni Hatırla
                                </label>
                            </div>

                            <div>
                                <a href="#" class="txt1">
                                    Şifremi Unuttum
                                </a>
                            </div>
                        </div>


                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn button login__submit" ng-click="login()">
                                Giriş
                            </button>
                        </div>

                        <div class="text-center p-t-46 p-b-20">
                            <span class="txt2">
                                Bizi Takip Etmeyi Unutmayın
                            </span>
                        </div>

                        <div class="login100-form-social flex-c-m">
                            <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                                <i class="fa fa-facebook-f" aria-hidden="true"></i>
                            </a>

                            <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </form>

                    <div class="login100-more" style="background-image: url('../../images/loginimg.jpg');">
                    </div>
                </div>
            </div>
        </div>





        <!--===============================================================================================-->
        <script src="~/Content/Admin/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Admin/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Admin/vendor/bootstrap/js/popper.js"></script>
        <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Admin/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Admin/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/Content/Admin/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/Admin/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/Scripts/login.js"></script>
        <script src="@Url.ContentVersioned("~/Scripts/Pages/login.js", HttpContext.Current.Request)"></script>
    </section>
</body>
</html>