@using System.Web
@using Kres.Models.Helper
@{
    ViewBag.Title = "StudentAdd";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div ng-controller="studentAddController" style="background-color:white;">
    <div class="container pt-5 pb-5">
        <form>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationDefault01">Adı</label>
                    <input type="text" class="form-control" id="validationDefault01" ng-model="selectedStudent.Name" placeholder="First name" value="Ad" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationDefault02">Soyadı</label>
                    <input type="text" class="form-control" id="validationDefault02" ng-model="selectedStudent.GuardianName" placeholder="Last name" value="Soyad" required>
                </div>
                <div class="col-md-3 mb-3">
                </div>
                <div class="form-group">
                    <label class="col-sm-3"><strong>Görsel Yükle</strong></label>
                    <div class="col-sm-9">
                        <input type="file" id="file-selector" ng-model="image_sourceIcon" base-sixty-four-input onchange="angular.element(this).scope().setFileImage(this)" accept="all/*" data-buttonText="Görsel Yükle" data-iconName="fa fa-image" class="filestyle" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="exampleFormControlInput1">Telefon Numarası</label>
                    <input type="tel" class="form-control" id="exampleFormControlInput1" ng-model="selectedStudent.Tel1" placeholder="0 000-000-000" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="exampleFormControlInput1">Mail Adresiniz</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" ng-model="selectedStudent.Mail" placeholder="name@gmail.com" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="exampleFormControlInput1">Doğum Tarihi</label>
                    <input type="datetime-local" class="form-control" id="date" ng-model="selectedStudent.Age" placeholder="" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="inputState">Cinsiyet</label>
                    <select id="txtGender" class="form-control">
                        <option selected>Seçiniz..</option>
                        <option value="boy">Erkek</option>
                        <option value="girl">Kız</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationTextarea">Adres</label>
                    <textarea class="form-control" id="validationTextarea" ng-model="selectedStudent.Address" placeholder="Lütfen Adresi Giriniz..." required></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationDefault03">Şehir</label>
                    <input type="text" class="form-control" id="validationDefault03" ng-model="selectedStudent.City" placeholder="City" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationDefault04">İlçe</label>
                    <input type="text" class="form-control" id="validationDefault04" ng-model="selectedStudent.Town" placeholder="Town" required>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                        Yeni Öğrenci Kaydını Onaylıyorum.
                    </label>
                </div>
            </div>
            <button class="btn btn-primary" ng-click="newCustomer()" type="submit">Kaydı Tamamla</button>
        </form>

    </div>

</div>

<script src="@Url.ContentVersioned("/Scripts/Admin/StudentAdd.js", HttpContext.Current.Request)"></script>

