@using System.Web
@using Kres.Models.Helper
@{
    ViewBag.Title = "StudentAdd";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div ng-controller="studentAddController">
    <h2>StudentAdd</h2>

</div>




<script src="@Url.ContentVersioned("/Scripts/Admin/StudentAdd.js", HttpContext.Current.Request)"></script>

